{%extends 'layout.html'%}
{%block employee%} 
<br><br>
<h3><center>


    Employee List
</center>
</h3>
<br>

{%for employee in employeeList%}


<center>
        <ul>
                <li class="list-group-item active">id :{{employee.id}}</li>
                <li class="list-group-item ">Name :{{employee.name}}</li>
                <li  class="list-group-item ">Place :{{employee.place}}</li>
                <li  class="list-group-item ">mobile :{{employee.mobile}}</li>
                <li  class="list-group-item ">Email :{{employee.email}}</li>
                
            </ul>
</center>
        
    
    
    {%endfor%}

{%endblock%}